[Desktop Entry]
Version=1.0
Name=SimInTech
GenericName=SimInTech
Comment=SimInTech (Simulation In Technic) is an environment for the development of mathematical models, control algorithms, control interfaces and automatic code generation for control controllers and graphic displays.
Comment[ru]=SimInTech (Simulation In Technic) – среда разработки математических моделей, алгоритмов управления, интерфейсов управления и автоматической генерации кода для контроллеров управления и графических дисплеев.
Exec=/opt/simintech/bin/mmain
TryExec=/opt/simintech/bin/mmain
Icon=simintech
Terminal=false
Type=Application
#MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Sciences;Other;
Keywords=SimInTech;sit;
Actions=profile-manager-window;

X-Desktop-File-Install-Version=0.26

[Desktop Action profile-manager-window]
Name=SimInTech
Exec=/opt/simintech/bin/mmain
